out
target
xcuserdata
bin
gen-external-apklibs
.idea
com_crashlytics_export_strings.xml
Wembley.db
.settings
classes
*.iml
.gradle
build
build_superdev
build_gradle
target_devmode
KirinKit.framework
war
local.properties
